[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

# Releasing
semver = "~=2.8.1"
gitwrapperlib = "~=0.9.1"

# Logging
coloredlogs = "~=10.0"
emoji = "~=0.5.1"
cookiecutter = "~=2.1.1"
pipenv = "~=2022.1.8"

toml = "~=0.10.0"

[packages]

